html{
    scroll-behavior: smooth;
}

body{
    font-family:1em sans-serif;
    margin: 0;
    padding: 10px;
    width: 100%;
    background-color: #edddd0;
}
header{
    width:100%;
    height: 70px;
    background-color: #DB504A;
    justify-content: space-between;
    align-items: left;
    padding: 30px 10%;
}
.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;

}
.nav_links li a {
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color:#334259;
}

.TextWrap {
    float:left;
    margin: 5px;
    margin-left:10px;
    margin-bottom: 10px;
    max-width: 100%;
    max-height: 25%;
    display: block;
    height: auto;
    width:800px;
    height:900px;
    overflow: hidden;
    object-fit: scale-down;
}
