body{
    font:1em sans-serif;
    margin: 10px;
    padding: 10px;
}
nav{
    background-color: #e5dada;
    font-family: 'Courgette', cursive;
    font-size: 25px;
    display: grid;
    grid-template-columns: repeat(15,auto);
}

body#index{
    background-color: beige;
}